<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common/head :: my-head(pageTitle='Dashboard')}"/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<body>

<div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header -->
    <header th:replace="~{fragments/common/header :: my-header}"/>
    <!-- End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <header th:replace="~{fragments/common/sidebar :: sidebar}"/>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Howdy, Invision!</h3>
                <div class="text">Ready to jump back in?</div>
            </div>
            <div class="row">
                <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="ui-item">
                        <div class="left">
                            <i class="icon la la-briefcase"></i>
                        </div>
                        <div class="right">
                            <h4 id="jobs-count">22</h4>
                            <p>Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="ui-item ui-red">
                        <div class="left">
                            <i class="icon la la-file-upload"></i>
                        </div>
                        <div class="right">
                            <h4 id="applications-count">9382</h4>
                            <p>Application</p>
                        </div>
                    </div>
                </div>
                <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="ui-item ui-yellow">
                        <div class="left">
                            <i class="icon la la-users"></i>
                        </div>
                        <div class="right">
                            <h4 id="interviews-count">74</h4>
                            <p>Interview</p>
                        </div>
                    </div>
                </div>
                <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="ui-item ui-green">
                        <div class="left">
                            <i class="icon la la-bell"></i>
                        </div>
                        <div class="right">
                            <h4 id="notifications-count">32</h4>
                            <p>Notifications</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <!-- Graph widget -->
                    <div class="graph-widget ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>Numbers Passed Candidates</h4>
                                <div class="chosen-outer">
                                    <!--Tabs Box-->
                                    <select class="chosen-select" id="time-range-select-line">
                                        <option value="6">Last 6 Months</option>
                                        <option value="9">Last 9 Months</option>
                                        <option value="12">Last 12 Months</option>
                                    </select>
                                </div>
                            </div>

                            <div class="widget-content">
                                <canvas id="chart" width="100" height="45"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <!-- Graph widget -->
                    <div class="graph-widget ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4 id="pie-chart-title"></h4>
                                <div class="chosen-outer">
                                    <!--Tabs Box-->
                                    <select class="chosen-select" id="time-range-select">
                                        <option value="0">Current Month</option>
                                        <option value="1">Last Month</option>
                                        <option value="2">Last 2 Months</option>
                                        <option value="3">Last 3 Months</option>
                                    </select>
                                </div>
                            </div>

                            <div class="widget-content" style="height: 250px;">
                                <div id="pie-chart" width="100" height="45"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2021 Superio. All Right Reserved.</p>
    </div>

</div><!-- End Page Wrapper -->

<th:block th:replace="~{fragments/common/embedded-js :: embedded-js}"/>
<script src="/js/custom/dashboard/dashboard.js"></script>


<!--<script>-->
<!--    Chart.defaults.global.defaultFontFamily = "Sofia Pro";-->
<!--    Chart.defaults.global.defaultFontColor = '#888';-->
<!--    Chart.defaults.global.defaultFontSize = '14';-->

<!--    var ctx = document.getElementById('chart').getContext('2d');-->

<!--    var chart = new Chart(ctx, {-->

<!--        type: 'line',-->
<!--        // The data for our dataset-->
<!--        data: {-->
<!--            labels: ["January", "February", "March", "April", "May", "June"],-->
<!--            // Information about the dataset-->
<!--            datasets: [{-->
<!--                label: "Views",-->
<!--                backgroundColor: 'transparent',-->
<!--                borderColor: '#1967D2',-->
<!--                borderWidth: "1",-->
<!--                data: [196, 132, 215, 362, 210, 252],-->
<!--                pointRadius: 3,-->
<!--                pointHoverRadius: 3,-->
<!--                pointHitRadius: 10,-->
<!--                pointBackgroundColor: "#1967D2",-->
<!--                pointHoverBackgroundColor: "#1967D2",-->
<!--                pointBorderWidth: "2",-->
<!--            }]-->
<!--        },-->

<!--        // Configuration options-->
<!--        options: {-->

<!--            layout: {-->
<!--                padding: 10,-->
<!--            },-->

<!--            legend: {-->
<!--                display: false-->
<!--            },-->
<!--            title: {-->
<!--                display: false-->
<!--            },-->

<!--            scales: {-->
<!--                yAxes: [{-->
<!--                    scaleLabel: {-->
<!--                        display: false-->
<!--                    },-->
<!--                    gridLines: {-->
<!--                        borderDash: [6, 10],-->
<!--                        color: "#d8d8d8",-->
<!--                        lineWidth: 1,-->
<!--                    },-->
<!--                }],-->
<!--                xAxes: [{-->
<!--                    scaleLabel: {-->
<!--                        display: false-->
<!--                    },-->
<!--                    gridLines: {-->
<!--                        display: false-->
<!--                    },-->
<!--                }],-->
<!--            },-->

<!--            tooltips: {-->
<!--                backgroundColor: '#333',-->
<!--                titleFontSize: 13,-->
<!--                titleFontColor: '#fff',-->
<!--                bodyFontColor: '#fff',-->
<!--                bodyFontSize: 13,-->
<!--                displayColors: false,-->
<!--                xPadding: 10,-->
<!--                yPadding: 10,-->
<!--                intersect: false-->
<!--            }-->
<!--        },-->
<!--    });-->
<!--</script>-->




</body>

</html>