<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common/head :: my-head(pageTitle='Job Management')}"/>

<body>

<div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header -->
    <header th:replace="~{fragments/common/header :: my-header}"/>
    <!-- End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <header th:replace="~{fragments/common/sidebar :: sidebar}"/>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Job management</h3>
            </div>

            <div class="row">
                <div class="col">
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-content py-4">
                                <form id="search-job-form">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="name" class="form-label fw-500">Name</label>
                                                <input type="text" class="form-control" id="name"
                                                       placeholder="Enter title job"
                                                       name="name">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="position" class="form-label fw-500">Position</label>
                                                <input type="text" class="form-control" id="position"
                                                       placeholder="Enter position"
                                                       name="position">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label for="expiredDateFrom" class="form-label fw-500">Expired date
                                                        from</label>
                                                    <input type="date" class="form-control" id="expiredDateFrom"
                                                           placeholder="Enter expiredDate from"
                                                           name="expiredDateFrom">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="expiredDateTo" class="form-label fw-500">Expired date
                                                        to</label>
                                                    <input type="date" class="form-control" id="expiredDateTo"
                                                           placeholder="Enter expiredDate to"
                                                           name="expiredDateTo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="skills" class="form-label fw-500">Skills</label>
                                                <input type="text" class="form-control" id="skills"
                                                       placeholder="Enter skill"
                                                       name="skills">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="level" class="form-label fw-500">Job level</label>
                                                <select id="level" name="level" class="form-select">
                                                    <option value="">--Please select a level--</option>
                                                    <option value="INTERN">Intern</option>
                                                    <option value="FRESHER">Fresher</option>
                                                    <option value="JUNIOR">Junior</option>
                                                    <option value="SENIOR">Senior</option>
                                                    <option value="MASTER">Master</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="status" class="form-label fw-500">Job status</label>
                                                <select id="status" name="status" class="form-select">
                                                    <option value="">--Please select a status--</option>
                                                    <option value="DRAFT">Draft</option>
                                                    <option value="ACTIVE">Active</option>
                                                    <option value="EXPIRED">Expired</option>
                                                    <option value="INACTIVE">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary me-4 px-4" id="search-job-btn">
                                        <span class="spinner-border spinner-border-sm d-none" role="status"
                                              aria-hidden="true" id="spinner-search"></span>
                                        Search
                                    </button>

                                    <button type="button" class="btn btn-secondary px-4" id="reset-search-job-btn">
                                        <span class="spinner-border spinner-border-sm d-none" role="status"
                                              aria-hidden="true" id="spinner-reset"></span>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-content pt-5">
                                <div class="table-outer">
                                    <table class="table table-bordered table-striped table-hover" id="job-table">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Title</th>
                                            <th>Position</th>
                                            <th>Recruiting quantity</th>
                                            <th>Level</th>
                                            <th>Experience</th>
                                            <th>Expired date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="widget-title pt-0">
                                <div class="row w-100 align-items-center" id="job-paging">
                                    <div class="col total-record">
                                    </div>
                                    <div class="col">
                                        <ul class="pagination justify-content-end" style="margin:20px 0">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2021 Superio. All Right Reserved.</p>
    </div>

</div><!-- End Page Wrapper -->


<th:block th:replace="~{fragments/common/embedded-js :: embedded-js}"/>
<script src="/js/custom/company/job/jobs.js"></script>
</body>

</html>