<section class="recruiter-section" id="company-section" th:fragment="company-section">
  <div class="outer-box">
    <div class="image-column">
      <figure class="image"><img src="images/resource/recruiter.png" alt=""></figure>
    </div>
    <div class="content-column">
      <div class="inner-column wow fadeInUp">
        <div class="sec-title">
          <h2>I am Recruiter</h2>
          <div class="text">One of our One of our jobs has some kind of flexibility jobs has some kind of
            flexibility option such as telecommuting, a part-time schedule or a flexible or flextime.
          </div>
          <a href="/companies/job/job-posting" class="theme-btn btn-style-one">Post New Job</a>
        </div>
      </div>
    </div>
  </div>
</section>