<!-- Candidate Section -->
<section class="jobseeker-section" id="candidate-section" th:fragment="candidate-section">
  <div class="outer-box">
    <div class="image-column">
      <figure class="image"><img src="images/resource/jobseeker.png" alt=""></figure>
    </div>
    <div class="content-column">
      <div class="inner-column wow fadeInUp">
        <div class="sec-title">
          <h2>I am Jobseeker</h2>
          <div class="text">One of our One of our jobs has some kind of flexibility jobs has some kind of
            flexibility option such as telecommuting, a part-time schedule or a flexible or flextime.
          </div>
          <a href="/jobs" class="theme-btn btn-style-one">Browse Job</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Candidate Section -->