<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common/head :: my-head(pageTitle='Unauthorized Error')}"/>


<body data-anm=".anm" class="d-flex flex-column min-vh-100">

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header th:replace="~{fragments/common/header :: my-header}"/>
    <!--End Main Header -->

    <!-- Main Content -->
    <main class="flex-grow-1 d-flex justify-content-center align-items-center py-5">
        <div class="container">
            <div class="row justify-content-center my-5 py-5">
                <div class="col">
                    <h1 class="card-title text-center mb-4 text-danger">Unauthorized Error</h1>
                    <div class="text-center mb-4">You're seem to be unauthorized, please <a href="/login">login</a> to
                        continue using service
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

<!-- Main Footer -->
<footer th:replace="~{fragments/common/footer :: my-footer}"/>

<!-- End Main Footer -->


</div><!-- End Page Wrapper -->


<th:block th:replace=" ~{fragments/common/embedded-js :: embedded-js}"/>
<script src="/js/custom/account/forgot-password-email.js"></script>

</body>

</html>