<th:block th:fragment="sidebar">
<!-- Sidebar Backdrop -->
<div class="sidebar-backdrop"></div>

<!-- User Sidebar -->
<div class="user-sidebar">

    <div class="sidebar-inner">
        <ul class="navigation">
            <li class="dashboard-menu"><a href=""> <i class="la la-home"></i> Dashboard</a></li>
            <li class="jobs-dashboard-menu"><a href=""><i class="la la-briefcase"></i> Jobs</a></li>
            <li class="applications-dashboard-menu"><a href=""><i class="la la-file-upload"></i> Applications</a></li>
            <li class="interview-dashboard-menu"><a href=""><i class="la la-users"></i> Interview</a></li>
            <li class="candidate-dashboard-menu"><a href=""><i class="la la-user"></i> Candidate</a></li>
        </ul>
    </div>
</div>
<!-- End User Sidebar -->
</th:block>