.main-menu .navigation > li > .mega-menu {
    width: 250px !important;
}

.job-search-form {
    min-width: 80vw !important;
}

.job-search-form .chosen-container-multi {
    padding-left: 15px;
}

.favorite-job {
    background-color: #1967d2 !important;
}

.favorite-job i {
    color: #fff !important;
}

.job-application-section .card {
    height: unset !important;
    border-radius: 0 !important;
}

.job-application-section .card .card-header a,
.job-application-section .card .card-header a:active {
    border: none !important;
}

.job-application-section .card .card-header a[aria-expanded="true"] {
    color: #0a53be !important;
}


#post-interview-form input[name='interviewAt'] {
    position: relative;
    width: 100%;
    display: block;
    height: 60px;
    line-height: 30px;
    padding: 15px 20px;
    font-size: 15px;
    color: #696969;
    background: #F0F5F7;
    border: 1px solid #F0F5F7;
    box-sizing: border-box;
    border-radius: 8px;
    transition: all 300ms ease;
}

.candidate-application-block #application-paging li {
    position: unset !important;
    flex: none !important;;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
}

.inner-box .company-info {
    display: flex;
    flex-wrap: nowrap; /* Ngăn không cho các phần tử xuống dòng */
    overflow: hidden;  /* Ẩn phần văn bản tràn ra ngoài */
    white-space: nowrap; /* Ngăn không cho nội dung xuống dòng */
}

.inner-box .company-info li {
    flex-shrink: 0; /* Đảm bảo các mục không bị co lại */
    margin-right: 10px; /* Khoảng cách giữa các mục */
    text-overflow: ellipsis; /* Thêm dấu ba chấm nếu văn bản quá dài */
    overflow: hidden; /* Ẩn phần thừa nếu văn bản quá dài */
}

.notification-icon .notification-icon-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.notification-icon .notification-icon-wrapper .la-bell{
    color: #495057;
    font-size: 28px;
    padding-top: 8px;
}

.notification-icon .notification-icon-wrapper #notification-badge{
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    line-height: 1;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Không cần padding thêm vì đã có width + height cố định */

}

.outer-box #notification-btn::after {
    display: none !important;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    right: -15px; /* Kéo rộng về bên phải */
}

.dropdown-menu .dropdown-item {
    white-space: normal;
    word-break: break-word;
}

.notification-box {
    width: 350px;
    right: 50px !important;
    left: -100px !important;
    max-height: 500px !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.notification-box .content div {
    font-size: 12px !important;
    line-height: 1.5;
}

.notification-box .title div {
    font-size: 14px !important;
}

.notification-box .buttons button {
    font-size: 12px !important;
}

.notification-item {
    border-bottom: 1px solid #ececec;
    margin-left: 4px;
    margin-right: 5px;
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}
