<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common/head :: my-head(pageTitle='Input Email')}"/>


<body data-anm=".anm" class="d-flex flex-column min-vh-100">

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header th:replace="~{fragments/common/header :: my-header}"/>
    <!--End Main Header -->

    <!-- Main Content -->
    <main class="flex-grow-1 d-flex justify-content-center align-items-center py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="card shadow" style="max-height: 500px; padding: 20px;">
                        <div class="card-body">
                            <h4 class="card-title text-center mb-4">Input email</h4>
                            <div class="text-center mb-4">Type your email to receive a password reset link</div>
                            <form id="send-email-forget-password">
                                <div class="mb-3">
                                    <label for="input-email" class="form-label">Input your email</label>
                                    <input type="email" class="form-control" id="input-email" name="email"
                                           placeholder="Input your email">
                                </div>
                                <button type="button" class="btn btn-primary w-100" id="send-email-forget-password-btn">
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="spinner"></span>
                                    OK
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


</div>

<!-- Main Footer -->
<footer th:replace="~{fragments/common/footer :: my-footer}"/>

<!-- End Main Footer -->


</div><!-- End Page Wrapper -->


<th:block th:replace=" ~{fragments/common/embedded-js :: embedded-js}"/>
<script src="/js/custom/account/forgot-password-email.js"></script>

</body>

</html>